.card {
    width: 320px;
    height: 550px;

    background-color: rgb(14, 32, 24);
    border-radius: 15px;
    border: 2px solid rgba(43, 103, 77, 0.04);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 40px 20px 50px rgba(0, 0, 0, 0.178);

    cursor: pointer;

    transition: 0.3s ease;

    &:hover {
        box-shadow: 40px 20px 50px rgba(0, 0, 0, 0.398);
        transform: translateY(-30px);
    }

    h1 {
        font-weight: 400;
        font-size: 40px;
        color: rgb(195, 195, 195);
        text-align: center;
    }
}