.campuses-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    
    height: 400px;

    @media screen and (max-width: 726px) {
        gap: 2rem;
        height: 300px;
    }

    img {
        width: 300px;
        filter: grayscale(1);

        transition: 0.3s ease;

        &:hover {
            filter: grayscale(0);
        }

        @media screen and (max-width: 726px) {
            width: 200px;
        }
    }
}