.structure {
    max-width: 1200px;
    padding: 0px 32px;

    h1 {
        font-size: 70px;
        font-weight: 500;
        color: white;

        @media screen and (max-width: 600px) {
            text-align: center;
            font-size: 60px;
        }
    }

    p {
        width: 100%;
        color: rgb(156, 156, 156);
        font-weight: 300;
        font-size: 18px;
        text-align: justify;
    }
}