.container {
    margin-top: 3rem;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;

    .imageSection {
        min-width: 500px;
        min-height: 650px;
        max-height: 600px;
        box-shadow: 40px 20px 50px rgba(0, 0, 0, 0.398);
        position: relative;

        .lines {
            width: 500px;
            height: 600px;
            left: 20px;
            bottom: 20px;
            border-bottom: 1px solid white;
            border-right: 1px solid white;
            position: absolute;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 1px solid rgba(255, 255, 255, 0.023); 
            border-radius: 5px;  
        }
    }

    .introSection {
        margin-left: 4rem;

        h6 {
            color: grey;
            font-size: 14px;
            font-weight: 200;
            letter-spacing: 2px;
            line-height: 0px;
        }

        h1 {
            font-size: 50px;
            font-weight: 500;
            margin: none;
            line-height: 55px;
        }

        .line {
            width: 100px;
            height: 2px;
            background-color: white;
        }

        p {
            color: rgb(162, 162, 162);
            font-weight: 200;
            text-align: justify;
            font-size: 15px;
            margin-top: 4rem;
        }

        .buttonContainer {
            margin-top: 6rem;
        }
    }
}