.button {
    border: 1px solid rgba(255, 255, 255, 0.212);
    background-color: #177140;
    border-radius: 20px;
    padding: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.3s ease;
    color: white;

    font-weight: 400;
    font-size: 14px;

    &:hover {
        background-color: #10532e;
    }
}