.activities-section {
    max-width: 1200px;
    margin-bottom: 100px;
    padding: 0 32px;

    h1 {
        font-size: 70px;
        font-weight: 500;
        color: white;

        @media screen and (max-width: 600px) {
            text-align: center;
            font-size: 60px;
        }
    }

    .activities {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 2rem;

        flex-wrap: wrap;
    }
}