nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    h2, a {
        font-family: "Poppins", sans-serif;
        text-decoration: none;
    }

    .logo {

        img {
            width: 70px;
            height: 70px;
        }
    }

    .logo {
        font-size: 16px;
        font-weight: 500;
    }

    .links {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            font-size: 13px;
            font-weight: 400;
            
        }

        .link {
            position: relative;
            font-size: 13px;
            font-weight: 400;
            transition: 0.3s ease;
            color: white;
            border-bottom: 1px solid rgba(255, 255, 255, 0);

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 0%;
                border-bottom:2px solid white;
                transition: 0.5s ease;
            }

            &:hover {               
                &:before {
                    width: 100%;
                }
            }
        }
    }
}